<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Payment</title>
    <style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#348D10 ;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover {
    background-color: blue;
    }
    </style>
</head>
<body>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/userBookingDetails">My Bookings</a></li>
    <li><a href="/">Logout</a></li>

</ul>
    <div style="text-align:center">
    <h1>Your book has been issued successfully!!<br><br>
        Thank you for being part of our services!
    </h1>
    </div>
</body>
</html>