<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Error</title>
</head>
<style>
    body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#DAF7A6,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
<body>

<div class="container" style="text-align:center">
    <h1>Oops, something went wrong!</h1>

    <h2 style="color:white">A problem occurred on our server, please try again later.</h2>

    <p style="color:blue">(Gateway timeout error 504)</p>
</div>

</body>
</html>